@charset "utf-8";
/* CSS Document */
body { margin:0; padding:0; font-family:Myriad Pro; font-size:12px; background:#fff; }
p, div, span, h1, h2, h3, h4, h5, h6, form, input, section, footer, nav, mark, aside, figure { margin:0; padding:0; }
section, header, footer, nav, aside, figure { display:block; }
p, div, span, h1, h2, h3, h4, h5, h6, form, input { margin:0; padding:0; }
h1 { font-size:30px; }
h2 { font-size:24px; }
h3 { font-size:20px; }
h4 { font-size:16px; }
h5 { font-size:14px; }
h6 { font-size:12px; }
ul, li { list-style:none; text-decoration:none; margin:0px; padding:0px; }
a { margin:0; padding:0; text-decoration:none; outline:none; }
.clear { clear:both; font-size:0; }
.center-align { text-align:center; }
img { border:0; max-width:100%; }
.left { float:left; }
.right { float:right; }
.container { height:100%; }
.header { height:48px; background:#000; }
.listing li { padding:7px 0 7px 40px; background:url(../img/gl-icon.jpg) no-repeat; line-height:18px; color:#989898; font-size:14px; }

.or-txt { font-size:22px; padding:1px 15px; float:left; }
.btn-container { float:left; }
.top-marg { margin-top:20px; }
p.small-txt { line-height:15px; font-weight:normal; color:#989898; font-size:13px; padding:0; }


 @media all and (max-width: 1920px) {
.wrapper { width:960px; margin:0 auto; }
.logo-container { float:left; width:600px; }
.logo { color:#00accd; font-size:36px; margin:4px 30px 0 20px; float:left; }
.logo span { color:#f5911e; }
.tagline { font-size:16px; color:#fff; padding:18px 0 0; float:left; }
.signin { float:right; margin:15px 10px 0 0; font-size:15px; color:#fff; }
.col { width:419px; float:left; border-right:1px solid #d7d7d7; padding:0 30px 90px; margin-top:50px; }
.border-none { border:0; }
h1.right-head { color:#00ACCD; font-size:25px; line-height:28px; font-weight:normal; padding-top:80px; }
h1.right-head span { font-size:20px; display:block; }
h2.right-head { color:#00ACCD; font-size:18px; line-height:28px; font-weight:normal; padding-top:10px; }
.input-full { display:block; background:#cbcbcb; color:#fff; height:26px; border:1px solid #d8d8d8; margin:7px 0; width:95%; padding:0 10px; }
.select { display:block; background:#cbcbcb; color:#fff; height:28px; border:1px solid #d8d8d8; margin:7px 0; width:100%; padding:4px 10px; }
.small-input { width:63px; margin-right:10px; float:left; }
.small-txt { font-size:12px; font-weight:bold; display:block; padding-top:10px; }
.listing li strong { color:#00accd; padding-right:25px; }
.listing { padding-top:60px; }
.signup-btn { float:left; background:url(../img/signup-icon.png) no-repeat -2px top; width:75px; height:28px; border:0; padding:0; cursor:pointer; vertical-align:middle; border-radius:3px; }
.fb-btn { background:url(../img/fb-icon.png) no-repeat; width:220px; height:36px; border:0; padding:0; display:inline-block; vertical-align:middle; border-radius:3px; }
h2.right-head-2 { color:#00ACCD; font-size:22px; line-height:28px; font-weight:normal; padding-top:50px; }
.signup-btn-2 { margin:7px 0 0 15px; }

}
@media all and (max-width: 600px) and (min-width: 320px) {
.header { height:50px; padding-top:4px; }
.logo-container { float:left; width:auto; }
.wrapper { width:auto; }
.logo { color:#00accd; float:none; font-size:24px; margin:4px 13px 0 5px; }
.tagline { font-size:9px; padding:0 0 0 8px; display:block; float:none; }
.signin { margin:10px 10px 0 0; font-size:12px; }
.col { width:auto; float:none; border:0; margin-top:0; padding:0 10px 50px; }
h1.right-head { padding-top:20px; }
.small-txt { font-size:9px; font-weight:bold; display:block; padding-top:6px; }
.or-txt { float: left; font-size: 15px; padding: 5px 2px; }
.input-full { width:93%; }
.small-input { width:45px; margin-right:7px; }
.listing li strong { padding-right:18px; }
.listing { padding-top:30px; }
.signup-btn { width:65px; }
.fb-btn { background:url(../img/fb-icon.png) no-repeat -2px top; width:214px; }
h1.right-head { font-size:18px; }
h1.right-head span { font-size:14px; display:inline; }
h2.right-head-2 { font-size:18px; line-height:22px; }
.signup-btn-2 { margin:7px 0 0 10px; }
}



