* {
	margin: 0;
	padding: 0;
}


body {
	background-color: #fff;
	color: #fff;
	font-family: sans-serif;
}

a {
	color: #454F58;
}

a:visited {
	color: #313B44;
}
.clear{clear:both;height: 0}

#wrapper {
	position: relative;
	top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	background-color: #282828;
	border-radius: 10px;
}

#header {
	height: 100px;
	padding-bottom: 20px;
}

#title {
	position: relative;
	top: 25px;
	left: 25px;
    width: 95%;
    height: 55px;
    border: none;
}

ul#bread_crumb_menu {
    color: #C8C8C8;
    font-size: 14px;
    left: 35px;
    position: relative;
    top: 11px;
}

ul#bread_crumb_menu li a {
    color: #C8C8C8;
    text-decoration: none;
}
#headerImage {
    border: medium none;
    float: none;
    height: 191px;
    margin: 0;
    width: 100%;
}
#headerImage img {
    display: block;
    margin: auto;
    text-align: center;
}

#content {
	padding-top: 50px;
	padding-bottom: 10px;
	height: 200px;
}

#spacer {
	width: 100%;
	height: 50px;
	/* Safari 4+ */
	background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#40566D), to(#749BAC));
	/* Safari 5.1+, Chrome 10+ */
	background-image: -webkit-linear-gradient(left, #40566D, #749BAC);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(left, #40566D, #749BAC);
	/* IE 10+ */
	background-image: -ms-linear-gradient(left, #40566D, #749BAC);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(left, #40566D, #749BAC);
}

#footer {
	height: 300px;
	padding: 40px 5px 5px 5px;
}

#map {
	float: left;
    height: 250px !important;
}

#attribution {
	text-align: center;
	clear: both;
}

#contact {
	float: right;
    height: 250px !important;
	text-align: right;
}

.blue {
	color: #668A9A;
}

.bread_crumb {
	display: inline-block;
	list-style-type: none;
}

.row {
    display: inline-block;
    height: inherit !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    width: 220px !important;
}

.border_right {
	border-right: solid 1px #353535;
}

.read_more {
	color: #fff;
	/* Safari 4+ */
	background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#222222), to(#4F4F4F));
	/* Safari 5.1+, Chrome 10+ */
	background-image: -webkit-linear-gradient(bottom, #222222, #4F4F4F);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(bottom, #222222, #4F4F4F);
	/* IE 10+ */
	background-image: -ms-linear-gradient(bottom, #222222, #4F4F4F);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(bottom, #222222, #4F4F4F);
	font-weight: 600;
	padding: 2.5px 5px 2.5px 5px;
	border-radius: 5px;
	border: 1px solid #000;
}

